.contact {
    background-color: #66fcf1;
    margin-top: 50px;
}

.my-info {
    padding: 120px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.contact-title {
    font-size: xxx-large;
}
.contact-info-item {
    font-size: x-large;
}
.contact-form {
    align-items: center;
    font-size: x-large;
}

@media (max-width: 991px) {
    .contact-form {
        padding-top: 50px;
    }    
    .contact-title {
        font-size: xx-large;
    }
    .contact-info-item {
        font-size: large;
    }
    .contact-form {
        font-size: large;
    }
}

