.contact {
    background-color: #3aafa9;
    margin-top: 50px;
    background-size:cover;
}

.buttons {
    display: flex;
    flex-direction: row;
    margin-top: 20px;
}

.btn {
    padding: 5px;
}
.my-info {
    padding: 120px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.contact-title {
    font-size: xxx-large;
    color: #Feffff;
}
.contact-info-item {
    font-size: x-large;
}
.contact-form {
    align-items: center;
    font-size: x-large;
}

@media (max-width: 991px) {
    .contact-form {
        padding-top: 50px;
    }    
    .contact-title {
        font-size: xx-large;
    }
    .contact-info-item {
        font-size: large;
    }
    .contact-form {
        font-size: large;
    }
}

