.contactMe {
    
    margin-top: 100px;
}

.myInfo {
    padding: 120px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.contactTitle {
    font-size: xxx-large;
}
.contactInfoItem {
    font-size: x-large;
}
.contactForm {
    align-items: center;
    font-size: x-large;
}

@media (max-width: 991px) {
    .contactForm {
        padding-top: 50px;
    }    
    .contactTitle {
        font-size: xx-large;
    }
    .contactInfoItem {
        font-size: large;
    }
    .contactForm {
        font-size: large;
    }
}

