.skills {
    margin-top: 55px;
    background-color: #3aafa9;;
    padding-bottom: 50px;
    height: 110vh;
}
.edu-title {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 40px;
        color: #Feffff;
}
.bg-html-bar {
    background-color: rgb(255, 0, 0)!important;
}
.bg-css {
    background-color: blue!important;
}
.bg-java {
    background-color: rgba(119, 255, 0, 0.745)!important;
    color: black!important;
}
.bg-react {
    background-color: blue!important;
}
.bg-git {
    background-color: red!important;
}
.bg-git-hub {
    background-color: black!important;
}
button:focus {
    box-shadow:none !important;
}
@media (min-width: 600px) {
    .skills {
        height: 100vh;
    }
}