.skills {
    margin-top: 55px;
    background-color: #66fcf1;
    height: 100vh;
}
.edu-title {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 40px;
}
.bg-html {
    background-color: red!important;
}
.bg-css {
    background-color: blue!important;
}
.bg-java {
    background-color: yellow!important;
    color: black!important;
}
.bg-react {
    background-color: blue!important;
}
.bg-git {
    background-color: red!important;
}
.bg-html {
    background-color: black!important;
}