.skills {
    padding-top: 70px;
    padding-left: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 80%;
}
.edu-title {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 20px;
}
.ProgressBar {
    width: 80%;
}