 .about{
    margin-top: 50px;
    background-color: #3aafa9;
    padding-bottom: 50px;
}

.name {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.about-me {
    padding-top: 80px;
}


.work-title {
    margin-top: 60px;
    display: flex;
    justify-content: center;
    align-items: center; 
    font-size: xxx-large;
    color: #Feffff;
}
.experience {
    padding-top: 50px;
}
.about-title{
    padding: 30px;
    font-size: xx-large;
}
.about-name {
    font-size: xxx-large;
    color: #Feffff;
}
.job-title {
    font-size: xx-large;
    color: #Feffff;
}
.place {
    font-size: x-large;
}


@media (max-width: 991px) {
    .about-name {
        margin-bottom: 20px;
    }
    .about-me {
        margin-top: 20px;
        padding-top: 0;
    }
    .work-title {
        margin-top: 40px;
        font-size: xx-large;
    }
    .job-title {
        font-size: x-large;
    }
    .place {
        font-size: large;
    }
        
}