.top-row {
    margin-top: 150px;
}

.img-about {
    height: 100px;
    width: 150px;
}

.work-title {
    display: flex;
    justify-content: center;
    align-items: center;   
}

.about-title{
    font-size: xxx-large;
}
.about-name {
    font-size: xx-large;
}
.job-title {
    font-size: xx-large;
}